.text-input {
    height: 32px;
    display: flex;
    align-items: center;
    font-family: "Karla", sans-serif;
    padding: 3px 7px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    color: rgb(63, 63, 63);
    border-radius: 4px;
    border: 1px solid rgb(211, 211, 211);
  }

.text-label-wrapper {
    margin-bottom: 6px;
    margin-left: 1px
  }
  